<div class="page-header">
	<h1>Provider Types</h1>
</div>

<table class="table table-hover table-bordered">
	
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Average Payment</th>
      <th>Total Payment</th>
    </tr>
  </thead>

  <tbody>
    <% @specialties.each do |specialty| %>
      <tr>
        <td><%= link_to specialty.name, "/providers/specialty/#{specialty.id}" %></td>
        <td><%= specialty.count %></td>
        <td><%= number_to_currency(specialty.avg_pmt, precision:0) %></td>
        <td><%= number_to_currency(specialty.total_pmt, precision:0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
